.container {
  height: 200px;
  position: relative;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

h2{
  margin-bottom: 25px !important;
}

.glass {
  justify-content: center;
  background: rgba(20, 17, 17, 0.43);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
  border: 1px solid rgb(0, 0, 0);
  margin-top: 55%;
  padding: 50px;
}

.p-2{
  margin: 10px;
}

.button-container,
.calculated-lot-size {
  text-align: center;
  margin-top: 15px;
}

.bn632-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn27 {
  background-image: linear-gradient(
    to right,
    #ed6ea0,
    #ec8c69,
    #f7186a,
    #fbb03b
  );
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}

@media (max-width: 600px) {
  .glass {
    grid-template-columns: 1fr;
    margin-top: 850px;
  }
}

@media (max-width: 400px) {
  .bn632-hover {
    width: 80%;
  }
}

.box{
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  text-align: center;
  margin: 5px 0;
  /* margin: 0 150px; */
}